html {
    background-color: rgb(185, 218, 229);
}

.header {
    color: rgb(127, 45, 37);
    font-size: 70px;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px; 
    margin:50px;
}

.homeimg {
    height: 360px;
    width: 250px;
}

.menu {
    text-align: center;
    font-size: 25px;
}

.wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.nav {
    text-align: center;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(111, 145, 156);
}
    
.nav li {
    float: left;
    display:inline;
    border-right:1px solid rgb(79, 100, 107);
}
    
.nav li:last-child {
    border-right: none;
}
    
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
.nav li a:hover {
    background-color: rgb(96, 35, 29);
}
    
.nav li a:hover:not(.active) {
    background-color: rgb(79, 100, 107);
}
    
.active {
    background-color: rgb(127, 45, 37);
}

#adminlink {
    position: static;
    top: 0;
    left: 0;
}

#bottommessage {
    position: absolute;
    text-align: center;
    bottom: 0;
    color: rgb(164, 164, 164);
    font-size: small;
}

#tygif {
    display: block;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}

#tytext {
    color: rgb(127, 45, 37);
    font-size: 50px;
    text-align: center;
}

