<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    {% block title%} <title> Order Entry </title> {% endblock %}
    <p id="adminlink"><a href="{% url 'admin:index' %}">Admin Portal</a></p>
    <h1 class = "header"> Order Entry </h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <div class="wrapper">
        <ul class="nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'aboutus' %}">About us!</a></li>
            <li><a class="active" href="{% url 'orderentry' %}">Order here!</a></li>
            <li><a href="{% url 'shipmenttracking' %}">Track your shipment</a></li>
            <li><a href="{% url 'ticketmanage' %}">Having trouble? Click here to get help!</a></li>
        </ul>
    </div>

</head>

<body>
    <p>
        <!--Customer Order Information--> 
        <form method = "post">
            {% csrf_token %}
        
            <div class="fieldWrapper">
                {{ form.order_Item_Flavor.errors }}
                <label for="{{ form.order_Item_Flavor.id_for_label }}">Flavor:</label>
                {{ form.order_Item_Flavor }}
            </div>
            <div class="fieldWrapper">
                {{ form.half_Pint_Count.errors }}
                <label for="{{ form.half_Pint_Count.id_for_label }}">Half Pint Count:</label>
                {{ form.half_Pint_Count }}
            </div>
            <div class="fieldWrapper">
                {{ form.one_Quart_Count.errors }}
                <label for="{{ form.one_Quart_Count.id_for_label }}">Quart Count:</label>
                {{ form.one_Quart_Count }}
            </div>
            <div class="fieldWrapper">
                {{ form.pint_Count.errors }}
                <label for="{{ form.pint_Count.id_for_label }}">Pint Count:</label>
                {{ form.pint_Count }}
            </div>
            <div class="fieldWrapper">
                {{ form.half_Gallon_Count.errors }}
                <label for="{{ form.half_Gallon_Count.id_for_label }}">Half Gallon Count:</label>
                {{ form.half_Gallon_Count }}
            </div>
            <div class="fieldWrapper">
                {{ form.gallon_Count.errors }}
                <label for="{{ form.gallon_Count.id_for_label }}">Gallon Count:</label>
                {{ form.gallon_Count }}
            </div>
            <div class="fieldWrapper">
                <button type = "submit">Continue!</button> 
            </div>
        </form>
    </p> 
</body>