<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    {% block title%} <title> Order Entry </title> {% endblock %}
    <h1 class = "header"> Order Entry </h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <body>
        <p>
             <!--Basic Customer Information--> 

            <form method = "post">

                {% csrf_token %}
                {{ form.as_p }}

                <label for="firstName">First name:</label><br>
                <input type="text" id="firstName" name="firstName"><br>

                <label for="lastName">Last name:</label><br>
                <input type="text" id="lastName" name="lastName"><br>

                <label for="shipAddr">Shipping Address: </label><br>
                <input type="text" id="shipAddr" name="shipAddr"><br>

                <label for="billAddr">Billing Address: </label><br>
                <input type="text" id="billAddr" name="billAddr"><br>

                <button type = "submit" Submit the order! </button> 
            </form>

        </p>
         
    </body>


</head>