<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    {% block title%} <title> Order Entry </title> {% endblock %}
    <p id="adminlink"><a href="{% url 'admin:index' %}">Admin Portal</a></p>
    <h1 class = "header"> Order Entry </h1>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <div class="wrapper">
        <ul class="nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'aboutus' %}">About us!</a></li>
            <li><a class="active" href="{% url 'orderentry' %}">Order here!</a></li>
            <li><a href="{% url 'shipmenttracking' %}">Track your shipment</a></li>
            <li><a href="{% url 'ticketmanage' %}">Having trouble? Click here to get help!</a></li>
        </ul>
    </div>

</head>

<body>
    <p>
         <!--Basic Customer Information--> 
        <form method = "post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ newOrder.as_p }}
            <button type = "submit">Place your order!</button> 
        </form>
    </p> 
</body>